<app-sidebar></app-sidebar>
<div id="content">
  <div class="row">
    <div class="container-fluid">
      <div class="col-lg-10 col-md-12 entero">
        <img src="assets/utn.png" alt="" class="img" />
        <div class="contenedor col-lg-12">
          <h1 class="text-center justify-content-center mt-3">
            TPI LAB IV 2W1 2022
          </h1>
          <!-- <div class="text-start cuerpo mt-5">
            <h2>FECHA DE ENTREGA</h2>
            <p>Día martes 15 de Noviembre de 2022.</p>
          </div> -->
          <div class="text-start cuerpo mt-5">
            <h2>INTEGRANTES</h2>
            <li>
              <small class="title-li">Moyano Nahuel</small>
              <ul class="square">
                <li class="desplegable"><strong>Legajo</strong>: 111831</li>
                <li class="desplegable"><strong>Curso</strong>: 2w1</li>
              </ul>
            </li>
            <li>
              <small class="title-li"> Soler Gino </small>
              <ul class="square">
                <li class="desplegable"><strong>Legajo</strong>: 111987</li>
                <li class="desplegable"><strong>Curso</strong>: 2w1</li>
              </ul>
            </li>
          </div>
          <div class="text-start cuerpo mt-5">
            <h2>Consigna</h2>
            <li>
              Diseñar un modelo de datos que permita dar soporte a los
              requerimientos.
            </li>
            <li>
              Implementar una capa de acceso a datos (repositorio) propia
              utilizando algunas de las tecnologías vistas en la asignatura .
            </li>
            <li>
              Desarrollar una API REST con los end-points necesarios para dar
              soporte a las funcionalidades descriptas.
            </li>
            <li>
              Desarrollar un front-end que permita probar las funcionalidades de
              la API REST. Para esto último seleccionar la/s tecnología que
              considere más apropiadas.
            </li>
            <li>
              En caso de desestimar el punto anterior, crear una colección de
              requests en POSTMAN para probar cada funcionalidad expuesta por la
              API REST. Deben incluirse múltiples peticiones por cada endpoint,
              para verificar el funcionamiento con casos correctos, con retornos
              de error y con parámetros inválidos
            </li>
          </div>
          <div class="text-start cuerpo mt-5 pb-3">
            <h2>Condición de entrega</h2>
            <li>
              El trabajo debe realizarse en grupos de dos a tres integrantes.
            </li>
            <li>
              Debe entregarse un archivo comprimido con el código fuente del
              backend. Para cumplir con el límite de tamaño del upload es
              recomendable eliminar la carpeta target.
            </li>
            <li>
              Debe indicarse claramente el conjunto de estudiantes que conforman
              el grupo.
            </li>
            <li>
              El frontend debe entregarse como un archivo comprimido con el
              código fuente o con una colección de peticiones de postman.
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
